<%users.each do |user| %>
  <p><%=link_to user.name, user_path(user)%></p>
  <%= render partial: "shared/follow",locals:{user: user} %>
  <%= render partial: "shared/addfriend",locals:{user: user} %>

<%end%>